<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticko</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <nav id="main-nav" class="nav">
        <a href="/" class="logo">Ticko</a>
        <div class="nav-links">
            <a href="{% url 'movies' %} ">Movies</a>
            <a href="{% url 'liveshows' %}">Live Shows</a>
            <a href="{% url 'events' %} ">Events</a>
            <a href="{% url 'shows' %}">Shows</a>
            <a href="{% url 'contact' %}">Contact Us</a>
            <div id="theme-toggle" class="yin-yang-icon"></div>


            <form action="{% url 'search' %}" method="get" class="search-container">
                <input type="text" name="q" placeholder="Search" class="search-input">
            </form>
        </div>
        
        

        <div class="hamburger-menu" id="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="main-footer">
        <div class="footer-content">
            <div class="footer-logo">
                <h3>Ticko</h3>
            </div>
            <div class="footer-links">
                <h4>Company</h4>
                <ul>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'terms' %}">Terms of Service</a></li>
                    <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Support</h4>
                <ul>
                    <li><a href=" ">FAQ</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href=" ">Ticketing Info</a></li>
                    <li><a href="{% url 'help' %}">Help Center</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <h4>Follow Us</h4>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Ticko. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>